<div id="customer_list_tools" style="border:0px;float:right;width:100%;">
	<table style="float: right;margin-right:10px;">
		<tr>
			<td width="100%">
				<span style="width:100%;text-align:left;padding-top:3px;float:left;">
					<span style="margin-left:15px;color:#003d79">客户分类:</span>
					<span id="customer_filter" style="width:100px;float:right"></span>
				</span>
			</td>
			<td>
				<div class="easyui-searchbox" style="width:270px" data-options="prompt:'公司名,人名,宗教,国家,网站,邮箱'" data="search"></div>
			</td>
		</tr>
	</table>
</div>

<div id="email_history_tools" style="border:0px;width:100%;border-bottom:1px solid #95B8E7;background: white;height:20px">
	<span style="margin-right:15px;float:right;" class="panel-title">用户邮件历史信息</span>
	<a href="#"  class="icon-out" onclick="$('#email_history_win').animate({width: 'hide',opacity:'hide'}, 500 );" style="text-decoration:none;float:left;display: block;margin-top:3px;">&nbsp;&nbsp;&nbsp;&nbsp;</a>
</div>