<div id="customer_list_tools" style="border:0px;float:right;width:100%;">
	<table style="float: right;margin-right:10px;">
		<tr>
			<td width="100%">
				<span style="width:100%;text-align:left;padding-top:3px;float:left;">
					<span style="margin-left:15px;color:#003d79">客户分类:</span>
					<span id="filter" style="width:100px;float:right"></span>
				</span>
			</td>
			<td>
				<div class="easyui-searchbox" style="width:270px" data-options="prompt:'公司名,人名,宗教,国家,网站,邮箱'" data="search"></div>
			</td>
		</tr>
	</table>
</div>