<div id="email_account_settings" class="easyui-dialog" title="配置邮件账户信息" 
data-options="width:1200,height:630,closed:true,collapsible:true,resizable:true,iconCls: 'icon-save',
buttons: [{text:'保存',iconCls:'icon-save',handler:function(){alert('1');}},
{text:'关闭',iconCls:'icon-cancel',handler:function(){$('#email_account_settings').dialog('close');}}],">

	<div style="">
		<textarea style="width:1150px;height:300px;"  cols="50" id="area2">Some Initial Content was in this textarea</textarea>
	</div>
</div>