<div id="email_task" class="easyui-dialog" title="添加任务配置" 
data-options="width:1200,height:730,closed:true,collapsible:true,resizable:true,iconCls: 'icon-save',
buttons: [{text:'添加',iconCls:'icon-add',handler:function(){addTesk();}},
{text:'关闭',iconCls:'icon-cancel',handler:function(){$('#email_task').dialog('close');}}],">

	
	<table style="width:93%;height:94%">
		<tr >
			<td width="20%" style="border:1px solid red;">
				<div class="easyui-panel" title="收件人列表" headerCls="chartPanelHeight"  data-options="fit:true,border:false,tools:[{iconCls:'icon-reload',handler:function(){alert('reload')}}]">
					<div id="email_task_target" ></div>
				</div>
			</td>
			<td width="20%" style="border:1px solid red;">
				<div class="easyui-panel" title="Subject模板" headerCls="chartPanelHeight"  data-options="fit:true,border:false,">
					<div style="height:93%">
						<div id="email_task_subject" ></div>
					</div>
					<div style="height:7%">
						<span class="panel-title" style="margin:0 10px 0 10px;">过滤:</span>
						<span name="email_task_template_filter"></span>
					</div>
				</div>
			</td>
			<td width="20%" style="border:1px solid red;">
				<div class="easyui-panel" title="Body模板" headerCls="chartPanelHeight" data-options="fit:true,border:false,">
					<div style="height:93%">
						<div id="email_task_body" ></div>
						<div id="email_task_subject" ></div>
					</div>
					<div style="height:7">
						<span class="panel-title" style="margin:0 10px 0 10px;">过滤:</span>
						<span name="email_task_template_filter"></span>
					</div>
				</div>
			</td>
			<td width="20%" style="border:1px solid red;">
				<div class="easyui-panel" title="Attachment模板" headerCls="chartPanelHeight"  data-options="fit:true,border:false,">
					<div style="height:93%">
						<div id="email_task_attachment" ></div>
					</div>
					<div style="height:7%">
						<span class="panel-title" style="margin:0 10px 0 10px;">过滤:</span>
						<span name="email_task_template_filter"></span>
					</div>
				</div>
			</td>
			<td width="20%" style="border:1px solid red;">
				<div class="easyui-panel" title="配置发件人" headerCls="chartPanelHeight" style="padding:10px 10px;height:50%" data-options="border:false,">
					<div id="email_task_send" ></div>
				</div>
				<div class="easyui-panel" title="任务基本信息配置" headerCls="chartPanelHeight" style="padding:10px 10px;height:50%" data-options="border:false,">
					<div style="color:red;margin: 3px 0 3px 0">Tips:任务间隔只能是数字,任务名不能为空</div>
					<div style="margin: 3px 0 3px 0;font-weight: bold;">任务名:</div>
					<input class="easyui-textbox" style="width:100%;height:32px" data="email_task_name">
					<div style="margin: 3px 0 3px 0;font-weight: bold;">备注:</div>
					<input class="easyui-textbox" style="width:100%;height:32px" data="email_task_remark">
					<div style="margin: 3px 0 3px 0;font-weight: bold;">任务间隔:</div>
					<input class="easyui-numberbox" data-options="min:5," style="width:100%;height:32px" data="email_task_interval">
					<div style="margin: 15px 0 3px 0;text-align: right;">
						<span style="float: left;font-weight: bold;">是否立即开始:</span><input class="easyui-switchbutton" data="email_task_status" data-options="onText:'Yes',offText:'No'">
					</div>
				</div>
			</td>
		</tr>
	</table>
	
	
	
</div>