<div style="width:100%;height:50%;float:left;">
	<div class="easyui-panel" title="当前邮件收发情况" style="background:#fafafa;width:98%;height:98%;" data-options="iconCls:'icon-blank',">
		<div id="email_situation" style="width:100%;height:100%"></div>
	</div>
</div>
<div style="width:50%;height:50%;float:left;">
	<div class="easyui-panel" title="备忘录" style="background:#fafafa;width:98%;height:98%;" data-options="iconCls:'icon-blank',">
	
	</div>
</div>
<div style="width:50%;height:50%;float:left;">
	<div class="easyui-panel" title="任务进展" style="background:#fafafa;width:98%;height:98%;" data-options="iconCls:'icon-blank',">	
	
	</div>
</div>