<!-- 
<div style="width:100%;height:50%;float:left;">
	<div class="easyui-panel" title="当前邮件收发情况" headerCls="chartPanelHeight" style="width:99%;height:99%;overflow: hidden;" data-options="iconCls:'icon-blank',tools:'#chart_tool',border:false,">
		<div id="email_situation"  style="width:100%;;height:100%;"></div>
	</div>
</div>
 -->
<div style="width:50%;height:98%;float:left;">
	<div class="easyui-panel" title="备忘录" headerCls="chartPanelHeight" style="overflow-x: hidden;overflow-y: hidden;width:98%;height:98%;" data-options="iconCls:'icon-memo',border:false,">
		<table style="width: 100%;height: 100%;">
			<tr>
				<td style="width:35%;vertical-align: top;">
					<span class="panel-title easyui-tooltip" style="padding:5px 0 5px 0" title="有记录的日历为蓝色底纹,选中为红色边框">日历:</span>
					<div style="width:100%;height:180px;" data="memoCalendar" ></div>
				</td>
				<td style="width:65%;vertical-align: top;">
					<span class="panel-title">备忘信息</span>
					<span style="float: right"><a href="#" data="addMemo" class="easyui-tooltip" style="text-decoration:none;color:blue;" title="请先选中一个时间点后点击添加,不能空">保存备忘</a></span>
					<div  style="width: 98%;height:95%;">
						<span data="memoInfo" class="easyui-textbox" style="width: 100%;height:100%;font-size: 16px" multiline=true ></span>
					</div>
				</td>
			</tr>
		</table>
	</div>
</div>
<div style="width:50%;height:50%;float:left;">
	<div class="easyui-panel" headerCls="chartPanelHeight" title="任务进展" style="width:98%;height:98%;padding:10px" data-options="iconCls:'icon-task',border:false,tools:[{iconCls:'icon-reload',handler:function(){$('#task_list_main').datagrid('reload')}}]">	
		<div id="task_list_main" headerCls="chartPanelHeight"></div>
	</div>
</div>
<!-- 
<div id="chart_tool" style="margin-bottom: 30px;">
	<span style="margin: 0 10px 0 10px;" class="panel-title">开始时间:</span>
	<input type="text" class="easyui-datebox" data-options="editable:false," value="">
	<span style="margin: 0 10px 0 10px;" class="panel-title">结束时间:</span>
	<input type="text" class="easyui-datebox" data-options="editable:false," value="">
	<span style="margin: 0 10px 0 10px;"></span>
	<span class="easyui-linkbutton c8 easyui-tooltip" title="开始时间小于结束时间时才可以查询">查询</span>
</div>
 -->
