<div id="send_email" title="发送邮件" >

	<div style="padding:20px 0 10px 30px">
		<span style="padding-right:20px;font-weight: bolder;">发件人:</span><span id="email_send_from" ></span><span style="margin-left:30px;">Tips : 至少选择一个发件人</span>
	</div>
	<div style="padding:5px 0 10px 30px">
		<span style="padding-right:20px;font-weight: bolder;">收件人:</span><span class="easyui-textbox" id="email_send_to" style="width:70%"></span><span style="margin-left:30px;">Tips : 使用 ; 隔开即可发送多人</span>
	</div>
	<div style="padding:5px 0 10px 30px">
		<span style="padding-right:20px;font-weight: bolder;">抄&nbsp;&nbsp;&nbsp;送:</span><span id="email_send_cc" class="easyui-textbox" style="width:70%"></span><span style="margin-left:30px;">Tips : 注意事项同收件人</span>
	</div>
	<div style="padding:5px 0 10px 30px">
		<span style="padding-right:20px;font-weight: bolder;">主&nbsp;&nbsp;&nbsp;题:</span><span id="email_subject" class="easyui-textbox" style="width:70%"></span>
	</div>
	<div style="padding:5px 0 10px 30px">
		<span style="padding-right:20px;font-weight: bolder;">附件:</span><input type="file" id="files" name="files" multiple="multiple" width="200px">
	</div>
	<div style="padding:5px 0 10px 30px;width:1100;height:430px">
		<iframe name="email_send_content" src="/email_send_editor/" width="1100px" height="450px" frameborder="no" border="0" marginwidth="0" marginheight="0" scrolling="author" allowtransparency="yes"></iframe>
	</div>
</div>