<div id="tab-tools">
	<div class="easyui-panel" style="width:300px;background:#E0ECFF" data-options="border:false">
		<a href="#" class="easyui-menubutton" data-options="menu:'#mm0',iconCls:'icon-man'" >客户功能</a>
		<a href="#" class="easyui-menubutton" data-options="menu:'#mm1',iconCls:'icon-mail'">邮件功能</a>
		<a href="#" class="easyui-menubutton" data-options="menu:'#mm2',iconCls:'icon-task'">定时任务</a>
	</div>
	<div id="mm0" style="width:150px;">
		<div class="menu-sep"></div>
		<div data-options="iconCls:'icon-add'" onclick="$('#customer_window').dialog('open')">添加新客户</div>
		<div class="menu-sep"></div>
		<div data-options="iconCls:'icon-settings'" onclick="$('#customer_settings_window').dialog('open')">选项信息配置</div>
	</div>
	<div id="mm1" style="width:150px;">
	    <div class="menu-sep"></div>
		<div data-options="iconCls:'icon-send_email'" onclick="$('#send_email').dialog('open')">发送邮件</div>
		<div class="menu-sep"></div>
		<div data-options="iconCls:'icon-template'" onclick="$('#email_template_settings').dialog('open')">配置模板</div>
		<div class="menu-sep"></div>
		<div data-options="iconCls:'icon-account'" onclick="$('#email_account_settings').dialog('open')">配置账户</div>
		<!-- 
		<div>
			<span>Toolbar</span>
			<div>
				<div>Address</div>
				<div>Link</div>
				<div>Navigation Toolbar</div>
				<div>Bookmark Toolbar</div>
				<div class="menu-sep"></div>
				<div>New Toolbar...</div>
			</div>
		</div>
		 -->
	</div>
	<div id="mm2" style="width:100px;">
		<div data-options="iconCls:'icon-add'" onclick="openTaskWindow()">添加邮件任务</div>
	</div>
</div>

<div id="mail-tab-tools" style="background: white;">
	<input id="email_searchbox">
	<span style="margin-right:20px;"></span>
</div>