<div class="easyui-accordion" data-options="fit:true,border:false">
    <div title="客户管理" data-options="iconCls:'icon-man'" style="border:0px">
    	<div id="customer_tree" class="menu_item"></div>
    </div>
    <div title="任务管理" data-options="iconCls:'icon-task'" style="border:0px">
    	<div id="task_tree" class="menu_item"></div>
    </div>
    <div title="邮件系统" data-options="iconCls:'icon-mail'" style="border:0px">
    	<div id="mail_tree" class="menu_item"></div>
    </div>
    <div title="产品管理" data-options="iconCls:'icon-product'" style="border:0px">
    	<div id="product_tree" class="menu_item"></div>
    </div>
    <div title="订单管理" data-options="iconCls:'icon-order'" style="border:0px">
    	<div id="order_tree" class="menu_item"></div>
    </div>
    <div title="财务管理" data-options="iconCls:'icon-finance'" style="border:0px">
    	<div id="finance_tree" class="menu_item"></div>
    </div>
    <div title="文件管理" data-options="iconCls:'icon-files'" style="border:0px">
    	<div id="files_tree" class="menu_item"></div>
    </div>
</div>