<nav class="navbar navbar-fixed-top" style="background: #f7f7ff;">
 <div class="container-fluid">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <div style="position: fixed;float:left;margin-top:2px;"><img style="margin-top:5px;" src="{{static ('img/crm_logo.png') }}" height="35"></div>
   </div>
   <div id="navbar" class="navbar-collapse collapse">
     <ul class="nav navbar-nav navbar-right">
     	<li><a href="#">Order Management<span class="glyphicon glyphicon-duplicate" style="margin-left:10px;"></span></a></li>
       <li><a href="#">Mail sys<span class="glyphicon glyphicon-send" style="margin-left:10px;"></span></a></li>
       <li class="dropdown">
       <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings&nbsp;<span class="glyphicon glyphicon-list"></span><span class="caret"></span></a>
	    <ul class="dropdown-menu ">
	       <li role="separator" class="divider"></li>
	       <li><a href="/attribute_settings/" target="_blank">Attribute Manager</a></li>
	   	</ul>
    	</li>
       <li><a href="#">Logout<span class="glyphicon glyphicon-log-out" style="margin-left:10px;"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
    
    
       